<mat-toolbar color="primary">
    <span class="titulo">Jogo</span>
    <button mat-stroked-button routerLink="cadastrar" routerLinkActive="botao-ativo" class="botao">     
        <mat-icon>add_circle</mat-icon><span> CADASTRAR</span>   </button>
    <button mat-stroked-button routerLink="listar" routerLinkActive="botao-ativo" class="botao">     
        <mat-icon>list</mat-icon><span> LISTAR</span>   </button>
    <button mat-stroked-button routerLink="editar" routerLinkActive="botao-ativo" class="botao">     
        <mat-icon>edit</mat-icon><span> EDITAR</span>   </button>
    
  </mat-toolbar>

<router-outlet></router-outlet>

