.titulo {
    position: absolute;
    left: 0;
    margin-left: 40px;
  }
  
  .botao-ativo{
    color: #00bc10;
    border-color: #00bc09;
  }
  
  .botao {
    margin-right: 20px;
  }
  
  button {
    border-radius: 20px;
  }
  
  mat-toolbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }